<footer class="footer">
  <a class="footer__logo-container" href="{{ "/" | relURL }}">
    <img class="footer__logo" src="{{ "images/logo.png" | relURL }}" alt="{{ .Site.Title }} Logo">
  </a>
  <div class="contact footer__contact">
      <h2 class="contact__headline">Kontaktieren Sie uns</h2>
      <div class="contact__info">
        <span class="contact__icon">
          <i class="fa fa-phone fa-lg"></i>
        </span>
        <a href="tel:{{ .Site.Params.phone }}">{{ .Site.Params.phone }}</a>
      </div>
      <div class="contact__info js-only">
        <span class="contact__icon contact__icon--mail">
          <i class="fa fa-envelope fa-lg"></i>
        </span>
        <a class="obfuscated" href="mailto:{{ .Site.Params.mail | base64Encode }}">{{ .Site.Params.mail | base64Encode }}</a>
      </div>
      <div class="contact__form">Oder über das <a href="{{ "/kontakt" | relURL }}">Kontaktformular</a></div>
  </div>
  <div class="footer__legal">
    <div class="footer__legal-link"><a href="{{ "/impressum" | relURL }}">Impressum</a></div>
    <div class="footer__legal-link"><a href="{{ "/impressum#datenschutz" | relURL }}">Datenschutz</a></div>
    <div>&copy; {{ now.Year }} {{ .Site.Title }}</div>
  </div>
</footer>
