
$button-color: $orange;

button {
  border: 3px solid $button-color;
  background-color: transparent;
  color: $button-color;

  &:hover, &:focus {
    color: transparent;
    background-color: $button-color;
  }
}

