
/* theme */
$headline-highlight: $orange !default;
/* end theme */

h1,
h2,
h3 {
  font-family: $headline-font;
  margin: 0;
  font-weight: normal;
}

h1 {
  @mixin ts 3;
  padding: 3lh 0 0;
}

h2 {
  @mixin ts 2;
  padding: 2lh 0 0;
  color: $headline-highlight;
}

h1 + h2 {
  padding-top: .5lh;
}

h2 + h3 {
  padding-top: 0;
}

