
@define-mixin button $fg {
  border: 2px solid $fg;
  background-color: transparent;
  color: $button-color;
  padding: 0 1rem;
  line-height: 1.5lh;
  line-height: calc(1.5lh - 4px);

  &:hover, &:focus {
    color: $white;
    background-color: $fg;
    cursor: pointer;
    /* border: 1px solid color($button-color lightness(-2%)); */
  }

}

