
.contactform {
  width: 75%;

  label {
    display: block;
  }

  textarea {
    min-height: 5lh;
  }

  &__button {
    margin-top: 1lh;
  }

  &__success {
    display: none;
  }

  &__failure {
    display: none;
    color: color($orange hue(-15%));
  }

}
