
/* theme */
$stripe-color: $darkgray;
$hero-headline: $orange;
/* end theme */

.full-width {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2lh 0;
  margin-top: 1lh;

  &--stripe {
    background-color: $stripe-color;
    color: $white;
  }

}

.one-third {
  width: 25%;
  margin: 0 2.5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;

  &__headline {
    color: $hero-headline;
    @mixin ts 2;
    padding: 0 0 1lh;
  }

  &__image {
    @mixin respimg;

    &--tari {
      background-image: url('/images/tari.png');
      background-position: top;
      background-size: 100% auto;
    }

    &--roboarm {
      background-image: url('/images/roboarm.jpg');
      background-position: -50px;
      background-size: auto 140%;
    }

    &--robozelle {
      background-image: url('/images/robozelle.jpg');
      background-position: 33% 10%;
      background-size: 105%;
    }
  }

  &__image-helper {
    @mixin inner-respimg 88%;
  }

  &__text {
    padding: .5lh 0;
  }

  &__spacer {
    flex: 1 0 auto;
  }

}
