
/* theme */
$stripe-bg-color: $darkgray;
$stripe-color: $white;
$hero-headline: $orange;
/* end theme */

.full-width {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2lh 0;
  @media (width < 42.5rem) {
    padding-left: $content-gap;
    padding-right: $content-gap;
  }
  margin-top: 4lh;

  &--stripe {
    background-color: $stripe-bg-color;
    color: $stripe-color;
  }

  @media (width < $bp1000) {
    flex-flow: column wrap;
  }

}

.one-third {
  width: 25%;
  @media (width >= 42.5rem) {
    margin: 0 2.5%;
  }
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  @media (width < $bp1000) {
    @media (width >= $bp500) {
      flex-flow: row wrap;
    }

    width: initial;

    &__link {
      flex: 1 0 100%;
    }

    & + & {
      margin-top: 3lh;
    }
  }

  &__headline {
    color: $hero-headline;
    @mixin ts 3;
    padding: 0 0 1lh;
    text-align: center;
    @media (width < $bp1000) {
      /* padding-left: 46%; */
      /* padding-left: calc(45% + 2rem); */
      text-align: initial;
    }
  }

  &__image {
    @media ($bp500 < width < $bp1000) {
      width: 45%;
      order: 2;
    }
    @media (width < $bp500) {
      width: 85%;
      margin: 0 auto;
    }
  }

  &__text {
    padding: .5lh 0;
    @media ($bp500 < width < $bp1000) {
      padding: 0;
    }
  }

  &__wrapper {
    flex: 1 1 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    @media ($bp500 < width < $bp1000) {
      padding-right: 2rem;
    }
  }

  &__button {
    @mixin button $button-color;
    text-align: center;
    margin-top: 1lh;

    @media (width < $bp1000) and (width > 500px) {
      /* font-size: 1.25rem; */
    }
  }

}
