
/* theme */
$header-image-border: color($lightgray blackness(+9%));
/* end theme */

.header {
  width: 100%;

  &__image {
    position: relative;
    max-height: 60vh;
    overflow: hidden;
    border-top: 1px solid $header-image-border;
    border-bottom: 1px solid $header-image-border;
    /* background-image: url('../images/anlage.jpg'); */
    /* background-position: 50% 37%; */

    &--start {
      width: 100%;
      margin-top: -20%;
      @media (width < $bp670) {
        margin-top: -10%;
      }
      margin-bottom: -10px;
    }

    &--unternehmen {
    }

    &--kontakt {
    }

    &--kompetenzen {
    }

    &--small {
      max-height: 25vh;
    }
  }

  &__tagline {
    position: absolute;
    bottom: $content-gap;
    left: $content-gap;
    background-color: color(white a(80%));
    border: 1px solid $header-image-border;
    padding: .25lh .5lh;
    margin-right: $content-gap;

    .dual-headline {
      padding: 0;
    }

    @media (width <= $bp670) {
      display: none;
    }
  }

}

