
/* theme */
$header-image-border: color($lightgray blackness(+9%));
$header-gap: 1.25rem;
/* end theme */

.header {
  width: 100%;

  &__image {
    position: relative;
    max-height: 60vh;
    overflow: hidden;
    border-top: 1px solid $header-image-border;
    border-bottom: 1px solid $header-image-border;
    /* background-image: url('../images/anlage.jpg'); */
    /* background-position: 50% 37%; */

    &--start {
      width: 100%;
      margin-top: -20%;
      margin-bottom: -10px;
    }

    &--unternehmen {
      background-image: url('../images/team.jpg');
      background-position: 50% 30%;
    }

    &--kontakt {
      background-image: url('../images/hand.jpg');
      background-position: 50% 40%;
    }

    &--kompetenzen {
      background-image: url('../images/abb.jpg');
      background-position: 50% 29%;
    }

    &--small {
      max-height: 25vh;
    }
  }

  &__tagline {
    position: absolute;
    bottom: $header-gap;
    left: $header-gap;
    background-color: color(white a(80%));
    border: 1px solid $header-image-border;
    padding: .25lh .5lh;
    margin-right: $header-gap;

    .dual-headline {
      padding: 0;
    }

    @media (width <= $bp670) {
      display: none;
    }
  }

}

