
/* theme */
$header-border: color($lightgray blackness(+9%));
/* end theme */

.home-header {
  width: 100%;
  position: relative;
  border-top: 1px solid $header-border;
  border-bottom: 1px solid $header-border;

  &__image {
    @mixin respimg;
    background-image: url('/images/orangerroboarm.jpg');
    background-position: 50% 13%;
    background-size: cover;
    /* background-attachment: fixed; */
  }

  &__image-helper {
    @mixin inner-respimg 60vh;
  }

  &__tagline {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: color(white a(70%));
    border: 1px solid $header-border;
    padding: .25lh .5lh;

    .dual-headline {
      padding: 0;
    }
  }
}
