
$header-bg: $lightgray !default;
$header-nav-link: $darkgray;
$header-nav-link-hover: $lightgray !default;

.navbar {
  background-color: $header-bg;
  position: relative;
  padding: 0 $content-gap;
  @media (width > $bp1000) {
    padding: 0 5rem;
  }

  &__logo {
    position: absolute;
    top: 0;
    width: 5rem; /*80:16*/
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, .5);
    z-index: 1000;
  }

  &__nav {
    text-align: right;
    z-index: 800;
    font-size: 1.25rem;
  }

  &__burger {
    padding: 1lh 0.75rem;
    cursor: pointer;
    z-index: 900;
    position: relative;
    background-color: $header-nav-link-hover;
    color: $header-nav-link;
    @media (width > $bp670) {
      display: none;
    }
  }

  &__items {
    background-color: $header-nav-link-hover;
    color: $header-nav-link;
    right: 0;
    transform: translateY(0);
    transition: all 0.7s;
    z-index: 850;
    @media (width <= $bp670) {
      position: absolute;
      width: 100%;
      padding-right: 1.25rem;
      &.closed {
        transform: translateY(-100%);
      }
    }

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
    }

    li {
      list-style-type: none;
      @media (width > $bp670) {
        display: inline;
      }
    }

    li a {
      color: $header-nav-link;
      padding: 1lh 0.75rem;
      display: inline-block;
      @media (width <= $bp670) {
        display: block;
        padding: .5lh 0.75rem;
      }

      &:hover,
      &:focus,
      &.active {
        color: $header-nav-link-hover;
        background-color: $darkgray;
      }
    }
  }

}
