<!DOCTYPE html>
<html lang="de">
<head>
    <meta name="charset" content="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Site.Title }} &ndash; {{ .Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relURL }}">
    <link rel="icon" href="{{ "/images/logo.gif" | relURL }}">
</head>
<body>
{{ partial "header" . }}

{{ block "main" . }}
{{ end }}

{{ partial "footer" . }}
</body>
</html>
