
@import 'settings/*.css';
/* @import 'tools/*.css'; */
@import 'generic/*.css';
@import 'elements/*.css';
/* @import 'objects/*.css'; */
/*@import 'components/*.css';*/
/* @import 'trumps/*.css'; */

footer li {
  list-style-type: none;
  display: inline-block;
}

footer li + li:before {
  content: " | ";
}
