{{ define "main" }}

<section class="body-text">
  <h1 class="dual-headline">
    <div class="dual-headline__first">Unsere Kompetenzen</div>
    <div class="dual-headline__second">Das bietet {{ .Site.Title }}</div>
  </h1>
  <p class="body-text__paragraph">Im Jahre des Herrn 2011, eine wunderbare Heiterkeit hat meine ganze Seele eingenommen, gleich den süßen Frühlingsmorgen, die ich mit ganzem Herzen genieße. Ich bin allein und freue mich meines Lebens in dieser Gegend, die für solche Seelen geschaffen ist wie die meine. Ich bin so glücklich, mein Bester, so ganz in dem Gefühle von ruhigem Dasein versunken, daß meine Kunst darunter leidet. Ich könnte jetzt nicht zeichnen, nicht einen Strich, und bin nie ein größerer Maler gewesen als in diesen Augenblicken.</p>
</section>

<section class="body-text">
  <h1 class="dual-headline">
    <div class="dual-headline__first">Unsere Projekte</div>
    <div class="dual-headline__second">Gemeinsam erfolgreich</div>
  </h1>
  <p class="body-text__paragraph">Im Jahre des Herrn 2011, eine wunderbare Heiterkeit hat meine ganze Seele eingenommen, gleich den süßen Frühlingsmorgen, die ich mit ganzem Herzen genieße. Ich bin allein und freue mich meines Lebens in dieser Gegend, die für solche Seelen geschaffen ist wie die meine. Ich bin so glücklich, mein Bester, so ganz in dem Gefühle von ruhigem Dasein versunken, daß meine Kunst darunter leidet. Ich könnte jetzt nicht zeichnen, nicht einen Strich, und bin nie ein größerer Maler gewesen als in diesen Augenblicken.</p>
  <ul class="fa-ul">
    <li><i class="fa-li fa fa-check"></i>Projekt A</li>
    <li><i class="fa-li fa fa-check"></i>Projekt B</li>
    <li><i class="fa-li fa fa-check"></i>Projekt C</li>
  </ul>
</section>


{{ end }}
