{{ define "main" }}

<section class="body-text">
  <h1 class="dual-headline">
    <div class="dual-headline__first">Schreiben Sie uns</div>
    <div class="dual-headline__second">Kontaktformular</div>
  </h1>
  <p class="body-text__paragraph js-only">Bitte denken Sie daran, uns mitzuteilen, wie wir Sie erreichen können. Wir werden uns so bald wie möglich bei Ihnen melden.</p>
</section>

<section class="body-text">
  <noscript>
    <p>Leider wird für das Kontaktformular JavaScript benötigt, was in Ihrem Browser anscheinend deaktiviert ist. Bitte aktivieren Sie JavaScript oder nutzen Sie eine der anderen Kontaktmöglichkeiten am Ende der Seite.</p>
  </noscript>
  <form class="contactform js-only" name="contact" action="#ignored">
    <label for="name">Ihr Name</label>
    <div>
      <input class="contactform__name" id="name" name="name" type="text">
    </div>
    <label for="msg">Ihre Nachricht</label>
    <div>
      <textarea class="contactform__msg" id="msg" name="msg"></textarea>
    </div>
    <input name="address" type="hidden" value="{{ "timon.loeffen@gmail.com" | base64Encode }}">
    <p hidden class="contactform__success">Vielen Dank für Ihre Nachricht.</p>
    <p hidden class="contactform__failure">Ups, da ist was schief gegangen.</p>
    <button class="contactform__button">Abschicken</button>
  </form>
</section>

{{ end }}
